<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  canvas{
    background:white;

  }
  body{
    background: #eee;
  }
  </style>
</head>

<body>
  <div id="app">
    You: {{key}} / {{uid}}
    <canvas id="canv" width="64" height="64"></canvas>

    <ul>
      <li v-for="(v, k) in users">
        {{v}}
      </li>
    </ul>


    <ul>
      <li v-for="(v, k) in filteredMessage">
        {{v.uid}} {{v.message}}
      </li>
    </ul>

    <form v-on:submit.prevent="sendChat">
      <input type="text" v-model="chatMessage">
    </form>


  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCUDmW5c3YNTkngUKv5Ib1qROPjmTmqF3o",
      authDomain: "roomshare-global.firebaseapp.com",
      databaseURL: "https://roomshare-global.firebaseio.com",
      projectId: "roomshare-global",
      storageBucket: "roomshare-global.appspot.com",
      messagingSenderId: "163474092865"
    };
    firebase.initializeApp(config);




  </script>
  <script src="index.js"></script>
</body>

</html>